* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}
/*Header*/
header {
    background-color: rgb(77, 77, 226);
    color: rgba(255, 255, 255, 0.879);
    text-align: center;
    height: 8rem;
    padding-top: 2rem;
}
.contacto {
    text-decoration: none;
    color: aqua;

}
.filters {
    margin-top: 1.5rem;
    padding-top: 1.5rem;



}
.filter {
   color: white;
    justify-content: flex-start;
    margin-right: 2rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    border-radius: 1rem;
    width: 9rem;
    background: linear-gradient(to bottom right, blue, pink);
    border-color: rgb(77, 77, 226);


}

    
/*Cards*/
#container {
    background-color: rgb(194, 249, 249);
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 6rem;
    width: 100vw;
    height: fit-content;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}
.card img {
    border-radius: 20%;
}
li {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(18, 18, 41);
    font-size: 1rem;
    display: block;
    }
.button {
    color: white;
    border-color: rgb(77, 77, 226);
    border-style: double;
    background: linear-gradient(to bottom right, blue, pink);
    border-radius: 1rem;
   
}
/*Siguiente Página*/
.page {
   
    height: 2rem;
    text-align: center;
    
    
}
.prevNext {
    color: white;
    background: linear-gradient(to bottom right, blue, pink);
    box-shadow: none;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.prevNext:active {
    background: linear-gradient(to bottom right, rgb(45, 45, 50), rgb(249, 227, 231));
}
/*Footer*/
footer {
    background-color: rgba(128, 128, 128, 0.811);
    color: white;
    font-size: 1.5rem;
    height: 4rem;
    text-align: center;
    padding-top: 1.5rem;
    width: 100vw;
    
}