* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}
/*Header*/
header {
    background-color: rgb(77, 77, 226);
    color: rgba(255, 255, 255, 0.879);
    text-align: center;
    height: 8rem;
    padding-top: 2rem;
    width: 100vw;
}
.contacto {
    text-decoration: none;
    color: aqua;

}
.filters {
    margin-top: 1.5rem;
    padding-top: 1.2rem;
    width: 100vw;
}
.filter {
   color: white;
    justify-content: flex-start;
    margin-right: 2rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    border-radius: 1rem;
    width: 9rem;
    background: linear-gradient(to bottom right, blue, pink);
    border-color: rgb(77, 77, 226);
    
}  
.filter:hover {
    color: gray;
}
/*Cards*/
#container {
    background-image: url(img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 4rem;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card img {
    border-radius: 20%;
    border-color: black;
    border-style: dashed;
}
li {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(18, 18, 41);
    font-size: 1rem;
    display: block;
    font-weight: bold;
    }
.button {
    color: white;
    border-color: rgb(77, 77, 226);
    border-style: double;
    background: linear-gradient(to bottom right, blue, pink);
    border-radius: 1rem;
   
}
.button:hover {
    color: green;
}
.button-detail {
    color: white;
    border-color: rgb(77, 77, 226);
    border-style: double;
    background: linear-gradient(to bottom right, blue, pink);
    border-radius: 1rem;
    width: 11rem;
    margin-left: 4rem;
}
/*Siguiente Página*/
.page {
    background-color:rgb(100,149,237);
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    width: 100vw;
       
}
.prevNext {
    color: white;
    background: linear-gradient(to bottom right, blue, pink);
    box-shadow: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    border-color: blueviolet;
}
.prevNext:hover {
    color: gray;
}
/*Footer*/
footer {
    background-color: rgb(192,192,192);
    color: white;
    font-size: 1.2rem;
    height: 4rem;
    text-align: center;
    padding-top: 1.5rem;
    width: 100vw;
    
}

@media (max-width :850px) {
    body {

      justify-content: center;
    }
    .filter {
        background: linear-gradient(to bottom right, rgb(0, 255, 153), rgb(237, 117, 137));
        width: 5.4rem;
        color: black;
    }
  }
